*.pb filter=lfs diff=lfs merge=lfs -text
ros/src/tl_detector/TL_detectors/real_model/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ros/src/tl_detector/TL_detectors/sim_model/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
